n8n/workflow-exports/form-wizard.json
{
  "name": "GRIMLOCK Form Wizard",
  "id": "XwmTcWU9DNzMD2ep",
  "nodes": [
    {
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [250, 300],
      "parameters": {
        "formTitle": "GRIMLOCK MCP Design Wizard",
        "formDescription": "Transform your MCP idea into a production-ready PRD specification.",
        "path": "grimlock-wizard",
        "formFields": {
          "values": [
            {"fieldLabel": "Project Name", "fieldType": "text", "requiredField": true, "placeholder": "my-awesome-mcp"},
            {"fieldLabel": "One-Line Purpose", "fieldType": "text", "requiredField": true, "placeholder": "Enable Claude to manage..."},
            {"fieldLabel": "Language", "fieldType": "dropdown", "requiredField": true, "fieldOptions": {"values": [{"option": "TypeScript (Recommended - better type safety)"}, {"option": "Python (FastMCP - simpler syntax)"}]}},
            {"fieldLabel": "Production Patterns", "fieldType": "textarea", "requiredField": false, "placeholder": "Include these patterns (one per line):\nerror_handling\nprogress_notifications\ninput_validation (recommended)\nlogging\ngraceful_degradation (recommended)"},
            {"fieldLabel": "Target Service", "fieldType": "text", "requiredField": true, "placeholder": "Shopify, Notion, etc."},
            {"fieldLabel": "Auth Type", "fieldType": "dropdown", "requiredField": true, "fieldOptions": {"values": [{"option": "api_key"}, {"option": "oauth2"}, {"option": "bearer"}, {"option": "basic"}, {"option": "none"}]}},
            {"fieldLabel": "API Docs URL", "fieldType": "text", "requiredField": false, "placeholder": "https://docs.example.com/api"},
            {"fieldLabel": "Tool Descriptions", "fieldType": "textarea", "requiredField": true, "placeholder": "get_customer: Get a customer by ID\ncreate_order: Create a new order\nlist_products: List all products"},
            {"fieldLabel": "Long-Running Operations", "fieldType": "dropdown", "requiredField": true, "fieldOptions": {"values": [{"option": "None - all complete quickly (<5 seconds)"}, {"option": "Some may take 5+ seconds"}]}},
            {"fieldLabel": "Tools Needing Progress Notifications", "fieldType": "textarea", "requiredField": false, "placeholder": "Tool names that may take 5+ seconds (one per line):\nsync_all_products\ngenerate_report"},
            {"fieldLabel": "External Dependencies", "fieldType": "dropdown", "requiredField": true, "fieldOptions": {"values": [{"option": "No external dependencies"}, {"option": "Yes - calls external APIs"}]}},
            {"fieldLabel": "Primary Service URL", "fieldType": "text", "requiredField": false, "placeholder": "https://api.example.com/v1"},
            {"fieldLabel": "Fallback Service URL", "fieldType": "text", "requiredField": false, "placeholder": "(optional) https://backup-api.example.com/v1"},
            {"fieldLabel": "Expected Timeout (seconds)", "fieldType": "text", "requiredField": false, "placeholder": "10"},
            {"fieldLabel": "Expected Error Scenarios", "fieldType": "textarea", "requiredField": false, "placeholder": "One per line:\ninvalid_input\napi_unavailable\nrate_limiting\nauth_failure\nnetwork_timeout\nresource_not_found"},
            {"fieldLabel": "Environment Variables", "fieldType": "textarea", "requiredField": false, "placeholder": "NAME: Description (one per line)\nAPI_KEY: Your API key for the service\nTIMEOUT: Request timeout in ms (default: 10000)"}
          ]
        },
        "respondWith": "text",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "parse-tools",
      "name": "Parse Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Parse tool descriptions\nconst toolDescriptions = input['Tool Descriptions'];\nconst lines = toolDescriptions.split('\\n').filter(line => line.trim());\nconst tools = lines.map(line => {\n  const match = line.match(/^([a-z_][a-z0-9_]*):\\s*(.+)$/i);\n  if (match) return { name: match[1].toLowerCase(), description: match[2].trim() };\n  return null;\n}).filter(t => t !== null);\n\n// Project name\nlet projectName = input['Project Name'].toLowerCase().replace(/\\s+/g, '-');\nif (!projectName.endsWith('-mcp')) projectName += '-mcp';\n\n// Language and version\nconst langRaw = input['Language'];\nconst sdk = langRaw.includes('Python') ? 'python' : 'typescript';\nconst version = sdk === 'python' ? '3.11+' : '18+';\n\n// Production patterns\nconst productionPatternsRaw = input['Production Patterns'] || '';\nconst validPatterns = ['error_handling', 'progress_notifications', 'input_validation', 'logging', 'graceful_degradation'];\nconst productionPatterns = productionPatternsRaw.split('\\n').map(p => p.trim().toLowerCase().replace(/\\s+/g, '_').replace(/\\(.*\\)/g, '').trim()).filter(p => validPatterns.includes(p));\nconst finalPatterns = productionPatterns.length > 0 ? productionPatterns : ['input_validation', 'graceful_degradation'];\n\n// Long-running operations\nconst longRunningRaw = input['Long-Running Operations'] || '';\nconst hasLongRunning = longRunningRaw.includes('5+ seconds');\nconst progressToolsRaw = input['Tools Needing Progress Notifications'] || '';\nconst progressTools = progressToolsRaw.split('\\n').map(t => t.trim().toLowerCase()).filter(t => t);\nconst toolNames = tools.map(t => t.name);\nconst validProgressTools = progressTools.filter(pt => toolNames.includes(pt));\n\n// Mark tools with progress notifications\nconst toolsWithProgress = tools.map(tool => ({\n  ...tool,\n  long_running: validProgressTools.includes(tool.name),\n  progress_notifications: validProgressTools.includes(tool.name)\n}));\n\n// External dependencies\nconst hasExternalDeps = (input['External Dependencies'] || '').includes('Yes');\nconst externalDependencies = {\n  enabled: hasExternalDeps,\n  primary_url: hasExternalDeps ? (input['Primary Service URL'] || null) : null,\n  fallback_url: hasExternalDeps ? (input['Fallback Service URL'] || null) : null,\n  timeout_seconds: parseInt(input['Expected Timeout (seconds)']) || 10\n};\n\n// Error scenarios\nconst errorScenariosRaw = input['Expected Error Scenarios'] || '';\nconst validScenarios = ['invalid_input', 'api_unavailable', 'rate_limiting', 'auth_failure', 'network_timeout', 'resource_not_found'];\nconst errorScenarios = errorScenariosRaw.split('\\n').map(e => e.trim().toLowerCase().replace(/\\s+/g, '_')).filter(e => validScenarios.includes(e));\n\n// Environment variables\nconst envVarsRaw = input['Environment Variables'] || '';\nconst envVars = envVarsRaw.split('\\n').map(line => {\n  const match = line.match(/^([A-Z_][A-Z0-9_]*):\\s*(.+)$/i);\n  if (match) return { name: match[1].toUpperCase(), description: match[2].trim() };\n  return null;\n}).filter(e => e !== null);\n\nreturn [{ json: {\n  projectName,\n  purpose: input['One-Line Purpose'],\n  sdk,\n  version,\n  productionPatterns: finalPatterns,\n  targetService: input['Target Service'],\n  authType: input['Auth Type'],\n  apiDocsUrl: input['API Docs URL'] || null,\n  tools: toolsWithProgress,\n  toolCount: tools.length,\n  hasLongRunning,\n  progressTools: validProgressTools,\n  externalDependencies,\n  errorScenarios,\n  envVars\n} }];"
      }
    },
    {
      "id": "calculate-efficiency",
      "name": "Calculate Context Efficiency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst estimatedParams = data.toolCount * 2;\nconst tokens = (data.toolCount * 450) + (estimatedParams * 30);\nlet scope, scopeReason;\nif (data.toolCount <= 5) { scope = 'project'; scopeReason = 'Lightweight MCP, install at project level'; }\nelse if (data.toolCount <= 10) { scope = 'project_or_user'; scopeReason = 'Consider project scope unless used across many projects'; }\nelse { scope = 'user_with_warning'; scopeReason = 'High overhead - consider splitting or user-level only'; }\nlet level;\nif (tokens < 3500) level = 'optimal';\nelse if (tokens < 4500) level = 'acceptable';\nelse if (tokens < 7000) level = 'concerning';\nelse level = 'problematic';\nreturn [{ json: { ...data, contextEfficiency: { toolCount: data.toolCount, estimatedTokens: tokens, level, scope, scopeReason } } }];"
      }
    },
    {
      "id": "generate-prd",
      "name": "Generate PRD YAML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst timestamp = new Date().toISOString().split('T')[0];\n\n// Generate tools YAML with long-running flags\nconst toolsYaml = data.tools.map(tool => {\n  let toolYaml = `\\n  - name: \"${tool.name}\"\\n    description: \"${tool.description}\"\\n    long_running: ${tool.long_running}\\n    progress_notifications: ${tool.progress_notifications}\\n    parameters: []\\n    returns: \"Response data\"`;\n  return toolYaml;\n}).join('');\n\n// Generate production patterns YAML\nconst productionPatternsYaml = data.productionPatterns.map(p => `    - ${p}`).join('\\n');\n\n// Generate external dependencies YAML\nlet externalDepsYaml = '';\nif (data.externalDependencies.enabled) {\n  externalDepsYaml = `external_dependencies:\\n  enabled: true\\n  primary_url: \"${data.externalDependencies.primary_url || ''}\"\\n  fallback_url: \"${data.externalDependencies.fallback_url || ''}\"\\n  timeout_seconds: ${data.externalDependencies.timeout_seconds}`;\n} else {\n  externalDepsYaml = `external_dependencies:\\n  enabled: false`;\n}\n\n// Generate error scenarios YAML\nconst errorScenariosYaml = data.errorScenarios.length > 0\n  ? data.errorScenarios.map(e => `    - ${e}`).join('\\n')\n  : '    # No error scenarios specified';\n\n// Generate environment variables YAML\nconst envVarsYaml = data.envVars.length > 0\n  ? data.envVars.map(e => `    - name: \"${e.name}\"\\n      description: \"${e.description}\"`).join('\\n')\n  : '    # No additional environment variables specified';\n\n// Build complete PRD\nconst prdContent = `# ${data.projectName.toUpperCase()} - MCP PRD\n# Generated by GRIMLOCK Design Wizard - ${timestamp}\n\nversion: \"1.0\"\n\nproject:\n  name: \"${data.projectName}\"\n  sdk: \"${data.sdk}\"\n  ${data.sdk === 'python' ? `python_version: \"${data.version}\"` : `node_version: \"${data.version}\"`}\n\nintegration:\n  service_name: \"${data.targetService}\"\n  auth_type: \"${data.authType}\"\n  ${data.apiDocsUrl ? `api_docs_url: \"${data.apiDocsUrl}\"` : '# api_docs_url: (not provided)'}\n\n${externalDepsYaml}\n\nproduction_patterns:\n  enabled:\n${productionPatternsYaml}\n  long_running_operations: ${data.hasLongRunning}\n\nerror_handling:\n  expected_scenarios:\n${errorScenariosYaml}\n\nconfiguration:\n  environment_variables:\n${envVarsYaml}\n\ntools:${toolsYaml}\n\ncontext_efficiency:\n  tool_count: ${data.contextEfficiency.toolCount}\n  estimated_tokens: ${data.contextEfficiency.estimatedTokens}\n  level: \"${data.contextEfficiency.level}\"\n  scope_recommendation: \"${data.contextEfficiency.scope}\"\n\ndesign_origin:\n  source: \"form_wizard\"\n  interface: \"n8n_form\"\n  design_date: \"${timestamp}\"\n`;\n\nreturn [{ json: { ...data, prdContent, prdFilename: `${data.projectName}-PRD.yaml` } }];"
      }
    },
    {
      "id": "respond",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "=## PRD Generated!\\n\\n**MCP:** {{ $json.projectName }}\\n**SDK:** {{ $json.sdk }}\\n**Tools:** {{ $json.contextEfficiency.toolCount }}\\n**Tokens:** ~{{ $json.contextEfficiency.estimatedTokens }}\\n\\n---\\n\\n```yaml\\n{{ $json.prdContent }}\\n```"
      }
    }
  ],
  "connections": {
    "Form Trigger": {"main": [[{"node": "Parse Tools", "type": "main", "index": 0}]]},
    "Parse Tools": {"main": [[{"node": "Calculate Context Efficiency", "type": "main", "index": 0}]]},
    "Calculate Context Efficiency": {"main": [[{"node": "Generate PRD YAML", "type": "main", "index": 0}]]},
    "Generate PRD YAML": {"main": [[{"node": "Respond to Form", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
