n8n/workflow-exports/form-wizard-dual-save.json
{
  "name": "GRIMLOCK Form Wizard",
  "nodes": [
    {
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [250, 300],
      "parameters": {
        "formTitle": "GRIMLOCK MCP Design Wizard",
        "formDescription": "Transform your MCP idea into a production-ready PRD specification.",
        "path": "grimlock-wizard",
        "formFields": {
          "values": [
            {"fieldLabel": "Project Name", "fieldType": "text", "requiredField": true, "placeholder": "my-awesome-mcp"},
            {"fieldLabel": "One-Line Purpose", "fieldType": "text", "requiredField": true, "placeholder": "Enable Claude to manage..."},
            {"fieldLabel": "Language", "fieldType": "dropdown", "requiredField": true, "fieldOptions": {"values": [{"option": "TypeScript (Node.js)"}, {"option": "Python"}]}},
            {"fieldLabel": "Target Service", "fieldType": "text", "requiredField": true, "placeholder": "Shopify, Notion, etc."},
            {"fieldLabel": "Auth Type", "fieldType": "dropdown", "requiredField": true, "fieldOptions": {"values": [{"option": "api_key"}, {"option": "oauth2"}, {"option": "bearer"}, {"option": "basic"}, {"option": "none"}]}},
            {"fieldLabel": "API Docs URL", "fieldType": "text", "requiredField": false, "placeholder": "https://docs.example.com/api"},
            {"fieldLabel": "Tool Descriptions", "fieldType": "textarea", "requiredField": true, "placeholder": "get_customer: Get a customer by ID\ncreate_order: Create a new order\nlist_products: List all products"}
          ]
        },
        "respondWith": "text",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "parse-tools",
      "name": "Parse Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const toolDescriptions = $input.first().json['Tool Descriptions'];\nconst lines = toolDescriptions.split('\\n').filter(line => line.trim());\nconst tools = lines.map(line => {\n  const match = line.match(/^([a-z_]+):\\s*(.+)$/);\n  if (match) return { name: match[1], description: match[2].trim() };\n  return null;\n}).filter(t => t !== null);\n\nlet projectName = $input.first().json['Project Name'].toLowerCase().replace(/\\s+/g, '-');\nif (!projectName.endsWith('-mcp')) projectName += '-mcp';\n\nconst langRaw = $input.first().json['Language'];\nconst sdk = langRaw.includes('Python') ? 'python' : 'typescript';\nconst version = sdk === 'python' ? '3.11+' : '18+';\n\nreturn [{ json: { projectName, purpose: $input.first().json['One-Line Purpose'], sdk, version, targetService: $input.first().json['Target Service'], authType: $input.first().json['Auth Type'], apiDocsUrl: $input.first().json['API Docs URL'] || null, tools, toolCount: tools.length } }];"
      }
    },
    {
      "id": "calculate-efficiency",
      "name": "Calculate Context Efficiency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst estimatedParams = data.toolCount * 2;\nconst tokens = (data.toolCount * 450) + (estimatedParams * 30);\nlet scope, scopeReason;\nif (data.toolCount <= 5) { scope = 'project'; scopeReason = 'Lightweight MCP, install at project level'; }\nelse if (data.toolCount <= 10) { scope = 'project_or_user'; scopeReason = 'Consider project scope unless used across many projects'; }\nelse { scope = 'user_with_warning'; scopeReason = 'High overhead - consider splitting or user-level only'; }\nlet level;\nif (tokens < 3500) level = 'optimal';\nelse if (tokens < 4500) level = 'acceptable';\nelse if (tokens < 7000) level = 'concerning';\nelse level = 'problematic';\nreturn [{ json: { ...data, contextEfficiency: { toolCount: data.toolCount, estimatedTokens: tokens, level, scope, scopeReason } } }];"
      }
    },
    {
      "id": "generate-prd",
      "name": "Generate PRD YAML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst timestamp = new Date().toISOString().split('T')[0];\nconst toolsYaml = data.tools.map(tool => `\\n  - name: \"${tool.name}\"\\n    description: \"${tool.description}\"\\n    parameters: []\\n    returns: \"Response data\"`).join('');\nconst prdContent = `# ${data.projectName.toUpperCase()} - MCP PRD\\n# Generated by GRIMLOCK Design Wizard - ${timestamp}\\n\\nversion: \"1.0\"\\n\\nproject:\\n  name: \"${data.projectName}\"\\n  sdk: \"${data.sdk}\"\\n  ${data.sdk === 'python' ? `python_version: \"${data.version}\"` : `node_version: \"${data.version}\"`}\\n\\nintegration:\\n  service_name: \"${data.targetService}\"\\n  auth_type: \"${data.authType}\"\\n  ${data.apiDocsUrl ? `api_docs_url: \"${data.apiDocsUrl}\"` : '# api_docs_url: (not provided)'}\\n\\ntools:${toolsYaml}\\n\\ncontext_efficiency:\\n  tool_count: ${data.contextEfficiency.toolCount}\\n  estimated_tokens: ${data.contextEfficiency.estimatedTokens}\\n  level: \"${data.contextEfficiency.level}\"\\n  scope_recommendation: \"${data.contextEfficiency.scope}\"\\n\\ndesign_origin:\\n  source: \"form_wizard\"\\n  interface: \"n8n_form\"\\n  design_date: \"${timestamp}\"\\n`;\nreturn [{ json: { ...data, prdContent, prdFilename: `${data.projectName}-PRD.yaml` } }];"
      }
    },
    {
      "id": "save-prd-ssh",
      "name": "Save PRD to EC2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1250, 200],
      "parameters": {
        "authentication": "privateKey",
        "command": "=cat > /home/ubuntu/projects/grimlock/prds/{{ $json.prdFilename }} << 'PRDEOF'\n{{ $json.prdContent }}\nPRDEOF\ncd /home/ubuntu/projects/grimlock && git add prds/{{ $json.prdFilename }} && git commit -m \"wizard: add {{ $json.projectName }} PRD\" && git push origin main"
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "8v1YaBmcWd0I0oMn",
          "name": "ec2-grimlock"
        }
      }
    },
    {
      "id": "convert-to-file",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1250, 400],
      "parameters": {
        "operation": "toText",
        "sourceProperty": "prdContent",
        "options": {
          "fileName": "={{ $json.prdFilename }}",
          "mimeType": "text/yaml"
        }
      }
    },
    {
      "id": "upload-to-drive",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1500, 400],
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Generate PRD YAML').item.json.prdFilename }}",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1-GRIMLOCK-PRDs"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1750, 300],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      }
    },
    {
      "id": "trigger-sprint",
      "name": "Trigger Sprint Initiator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "parameters": {
        "method": "POST",
        "url": "https://im4tlai.app.n8n.cloud/webhook/grimlock/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prd_file",
              "value": "={{ $('Generate PRD YAML').item.json.prdFilename }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond",
      "name": "Form Ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [2250, 300],
      "parameters": {
        "operation": "completion",
        "respondWith": "text",
        "completionTitle": "PRD Generated & Build Started!",
        "completionMessage": "=**MCP:** {{ $('Generate PRD YAML').item.json.projectName }}\n**SDK:** {{ $('Generate PRD YAML').item.json.sdk }}\n**Tools:** {{ $('Calculate Context Efficiency').item.json.contextEfficiency.toolCount }}\n**Tokens:** ~{{ $('Calculate Context Efficiency').item.json.contextEfficiency.estimatedTokens }}\n\n---\n\n**Build ID:** {{ $json.buildId }}\n**Status:** {{ $json.status }}\n\nYour MCP server is now being built! Check the [dashboard](https://grimlockfactory.netlify.app) for progress."
      }
    }
  ],
  "connections": {
    "Form Trigger": {"main": [[{"node": "Parse Tools", "type": "main", "index": 0}]]},
    "Parse Tools": {"main": [[{"node": "Calculate Context Efficiency", "type": "main", "index": 0}]]},
    "Calculate Context Efficiency": {"main": [[{"node": "Generate PRD YAML", "type": "main", "index": 0}]]},
    "Generate PRD YAML": {
      "main": [
        [
          {"node": "Save PRD to EC2", "type": "main", "index": 0},
          {"node": "Convert to File", "type": "main", "index": 0}
        ]
      ]
    },
    "Save PRD to EC2": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]},
    "Convert to File": {"main": [[{"node": "Upload to Google Drive", "type": "main", "index": 0}]]},
    "Upload to Google Drive": {"main": [[{"node": "Merge Results", "type": "main", "index": 1}]]},
    "Merge Results": {"main": [[{"node": "Trigger Sprint Initiator", "type": "main", "index": 0}]]},
    "Trigger Sprint Initiator": {"main": [[{"node": "Form Ending", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
